[project]
	description = C++ shortest path with curvature and torsion taken into account
[access "refs/*"]
	owner = group user/Petter Strandmark (PetterS)
[access "refs/for/refs/*"]
	read = group user/Petter Strandmark (PetterS)
	push = group user/Petter Strandmark (PetterS)
	label-Code-Review = -2..+2 group user/Petter Strandmark (PetterS)
	label-Verified = -1..+1 group user/Petter Strandmark (PetterS)
	rebase = group user/Petter Strandmark (PetterS)
	removeReviewer = group user/Petter Strandmark (PetterS)
	submit = group user/Petter Strandmark (PetterS)
[access "refs/heads/*"]
	read = group user/Petter Strandmark (PetterS)
	create = group user/Petter Strandmark (PetterS)
	push = +force group user/Petter Strandmark (PetterS)
	pushMerge = group user/Petter Strandmark (PetterS)
[access "refs/tags/*"]
	push = +force group user/Petter Strandmark (PetterS)
	pushTag = group user/Petter Strandmark (PetterS)
	pushSignedTag = group user/Petter Strandmark (PetterS)
